---
import FullScreenSection from "@/components/FullScreenSection.astro"
import SectionTitle from "@/components/SectionTitle.astro"
import BadgeList from "@/components/BadgeList.astro"
import Badge from "@/components/Badge.astro"
import Link from "@/components/Link.astro"
import ExternalLink from "@/icons/ExternalLink.astro"

type Experience = {
  role: string
  location?: string
  startDate?: string
  endDate?: string
  description: string
  tags: string[]
  links?: {
    name: string
    url: string
  }[]
}

type Company = {
  name: string
  website: string
  description?: string
  logo?: string
  links?: {
    name: string
    url: string
  }[]
}

type ExperienceBlock = {
  company: Company
  experiences: Experience[]
}

const AIA_PARTNERS = {
  name: "AIA Partners",
  // logo: "/images/aia-partners.png",
  website: "https://www.aiapartners.com/",
}

const EXPERIENCE: Array<ExperienceBlock> = [
  {
    company: AIA_PARTNERS,
    experiences: [
      {
        role: "Technology Manager",
        description:
          "Managed a team of 5 developers to build projects according to the company's needs.",
        startDate: "2023-06-16",
        tags: [
          "Leadership",
          "Vue 3",
          "JavaScript",
          "CSS",
          "Figma",
          "Node.js",
          "API",
          "Git",
        ],
      },
      {
        role: "Frontend Developer",
        description:
          "Collaborated closely with the backend team and our Technology Manager to drive our company's vision and objectives.",
        startDate: "2022-06-16",
        endDate: "2023-06-16",
        tags: ["Vue 3", "JavaScript", "CSS", "Figma", "Node.js", "API", "Git"],
      },
    ],
  },
]
---

<FullScreenSection id="experience" class="items-center">
  <SectionTitle class="mx-auto w-full sm:text-center">Experience</SectionTitle>
  <div class="flex flex-col gap-8 max-w-lg max-w-auto">
    {
      EXPERIENCE.map(({ company, experiences }) => (
        <article class="flex flex-col gap-4">
          <header>
            <h3 class="text-2xl font-bold">{company.name}</h3>
            <Link href={company.website}>
              {company.website}
            </Link>
          </header>
          <section class="flex flex-col gap-4 ml-2 border-l-2 border-dashed border-gray-600">
            {experiences.map((experience) => (
              <article class="border-opacity-75 flex flex-col gap-2 pl-3">
                <header>
                  <h4 class="text-xl font-semibold text-blue-100">
                    {experience.role}
                  </h4>
                  <p class="text-slate-400">{experience.description}</p>
                </header>
                <BadgeList>
                  {experience.tags.map((tag) => (
                    <Badge variant="secondary" size="sm">
                      {tag}
                    </Badge>
                  ))}
                </BadgeList>
              </article>
            ))}
          </section>
        </article>
      ))
    }
  </div>
</FullScreenSection>
