---
import { GRADIENTS, ME } from "@/consts"
import FullScreenSection from "@/components/FullScreenSection.astro"
import Link from "@/components/links/Link.astro"
import SocialMedia from "@/components/SocialMedia.astro"
import studevsTalk from "@/assets/images/studevs-talk.png"
---

<FullScreenSection
  gradient={GRADIENTS.original}
  backgroundImage={studevsTalk}
  element="main"
  id="home"
  class="justify-center md:items-center h-full"
>
  <div class="flex flex-col gap-8 text-lg md:items-center">
    <header class="w-full mx-auto flex md:items-center flex-col">
      <h1 class="text-9xl font-black text-sky-300">Jacob Flores</h1>
      <p class="text-4xl w-fit">
        <strong>{ME.role}</strong>
        {
          ME.company?.name && (
            <>
              at
              <Link href={ME.company.web} target="_blank">
                <strong> {ME.company.name}</strong>
              </Link>
            </>
          )
        }
      </p>
    </header>
  </div>
  <!-- <Image
      src={studevsTalk}
      alt="Delivering a presentation at the Engineering Faculty Auditorium, Autonomum University of San Luis Potosí."
      quality="max"
      class="aspect-video object-cover h-full rounded-xl object-left-bottom brightness-110"
    /> -->
  <SocialMedia class="justify-start md:justify-center w-full" size="md" />
</FullScreenSection>
