---
import { Image } from "astro:assets"
import Badge from "@/components/Badge.astro"
import List from "@/components/List.astro"
import ecotideImg from "@/assets/images/projects/ecotide.png"
import Figma from "@/icons/Figma.astro"
import FullScreenSection from "@/components/FullScreenSection.astro"
import GitHub from "@/icons/GitHub.astro"
import Link from "@/components/links/Link.astro"
import nourishImg from "@/assets/images/projects/nourish.png"
import SectionTitle from "@/components/SectionTitle.astro"
import Web from "@/icons/Web.astro"
import LinkWithIcon from "../links/LinkWithIcon.astro"

type Project = {
  name: string
  description: string
  link: string
  repo?: string
  design?: string
  image: ImageMetadata
  tech: string[]
}

const PROJECTS: Array<Project> = [
  {
    name: "🌊 Ecotide",
    description:
      "A web platform where you can explore detailed information about the ocean, phytoplankton species, and the difference between ocean gardens and land gardens, featuring visually stunning imagery for viewers and immersive ocean sounds.",
    link: "https://nasa-space-apps.vercel.app/",
    repo: "https://github.com/alancasre133/Nasaoceangarden",
    design:
      "https://www.figma.com/file/lJEAo2G5GX0BAvf6KCCiyw/Ocean-Garden?type=design&node-id=0%3A1&mode=design&t=cuR1el7ELUlnsuQa-1",
    image: ecotideImg,
    tech: ["Next.js", "Tailwind CSS", "TypeScript", "<model-viewer>"],
  },
  {
    name: "🥗 Nourish",
    description:
      "A mobile-first web application designed to tackle food insecurity by offering personalized menus and recipes tailored to students' nutritional needs.",
    link: "https://nourish.jacobflores.dev/",
    repo: "https://github.com/GerardoPrz/WaffleHacks-FoodInsecurity",
    design: "https://www.figma.com/file/rMtbBlgfmWpBIcp2x4LduD/Food-Insecurity",
    image: nourishImg,
    tech: ["Next.js", "Tailwind CSS", "Firebase", "OpenAI API"],
  },
]

const getProjectLinks = ({ link, repo, design }: Project) => {
  return [
    {
      icon: Web,
      href: link,
      text: "Project",
    },
    {
      icon: Figma,
      href: design,
      text: "Design",
    },
    {
      icon: GitHub,
      href: repo,
      text: "Code",
    },
  ]
}
---

<FullScreenSection id="projects" class="max-w-7xl">
  <SectionTitle class="text-center">Projects 🪄</SectionTitle>

  <div class="flex flex-col gap-12">
    {
      PROJECTS.map((project) => {
        const { name, description, link, image, tech } = project
        return (
          <article class="w-full flex flex-col lg:grid lg:grid-cols-2 gap-4 md:gap-8 rounded-xl md:border-4 md:p-4 lg:p-8 border-blue-500 hover:border-blue-300 md:bg-gradient-to-tr md:transition-all duration-200 from-transparent to-blue-700/30 via-blue-700/10 via-40% md:hover:scale-105">
            <section class="flex flex-col gap-4">
              <header>
                <h3 class="text-4xl font-semibold mb-2">{name}</h3>
                <p class="text-slate-400 text-lg [text-wrap:balance]">
                  {description}
                </p>
              </header>
              <div class="flex flex-wrap gap-x-6 gap-y-1">
                {getProjectLinks(project).map(
                  ({ icon: Icon, href, text }) =>
                    href && (
                      <LinkWithIcon href={href}>
                        <Icon /> {text}
                      </LinkWithIcon>
                    ),
                )}
              </div>
              <List>
                {tech.map((tech) => (
                  <Badge>{tech}</Badge>
                ))}
              </List>
            </section>
            <Link href={link}>
              <Image
                class="rounded-lg h-full w-full object-cover object-top"
                src={image}
                alt={`${name} Preview`}
              />
            </Link>
          </article>
        )
      })
    }
  </div>
</FullScreenSection>
