---
import Badge from "@/components/Badge.astro"
import Figma from "@/icons/Figma.astro"
import FullScreenSection from "@/components/FullScreenSection.astro"
import GitHub from "@/icons/GitHub.astro"
import { Image } from "astro:assets"
import Link from "@/components/links/Link.astro"
import LinkWithIcon from "../links/LinkWithIcon.astro"
import List from "@/components/List.astro"
import SectionTitle from "@/components/SectionTitle.astro"
import Web from "@/icons/Web.astro"
import YouTubeLogo from "@/icons/YouTube.astro"
import ecotideImg from "@/assets/images/projects/ecotide/ecotide.png"
import ecotideLogo from "@/assets/images/projects/ecotide/bare-logo.png"
import nourishImg from "@/assets/images/projects/nourish.png"
import nourishLogo from "@/assets/images/projects/nourish/bare-logo.png"

type ProjectLink = {
  icon: (_props: Record<string, any>) => any
  href?: string
  text: string
}

type Project = {
  name: string
  description: string[]
  logo?: ImageMetadata
  link: string
  repo?: string
  design?: string
  image: ImageMetadata
  skills: string[]
  links?: ProjectLink[]
}

const PROJECTS: Project[] = [
  {
    name: "Ecotide",
    description: [
      "Web platform where you can explore detailed information about the ocean, phytoplankton species, and the difference between ocean gardens and land gardens, featuring visually stunning imagery for viewers and immersive ocean sounds.",
      "Participated in the 2023 NASA International Space Apps Challenge at the Universidad Aeronáutica en Querétaro (UNAQ). We were honored to be finalists in the social challenges track, which allowed us to share our vision and mission in front of an audience of over 50 people.",
    ],
    logo: ecotideLogo,
    link: "https://nasa-space-apps.vercel.app/",
    repo: "https://github.com/alancasre133/Nasaoceangarden",
    design:
      "https://www.figma.com/file/lJEAo2G5GX0BAvf6KCCiyw/Ocean-Garden?type=design&node-id=0%3A1&mode=design&t=cuR1el7ELUlnsuQa-1",
    image: ecotideImg,
    skills: [
      "Public Speaking",
      "Next.js",
      "Tailwind CSS",
      "Frontend",
      "TypeScript",
      "<model-viewer>",
    ],
    links: [
      {
        icon: YouTubeLogo,
        href: "https://www.youtube.com/watch?v=1GgEvc66obg",
        text: "Finalist Pitch",
      },
    ],
  },
  {
    name: "Nourish",
    description: [
      "Mobile-first web application designed to tackle food insecurity by offering personalized menus and recipes tailored to students' nutritional needs.",
      "Created during the WaffleHacks 2023 hackathon, this project was the result of collaboration with an exceptional, multidisciplinary team. We partnered with Aura Daniela López Garduño, a nutritionist holding a degree from the University of Guanajuato (UGTO).",
    ],
    logo: nourishLogo,
    link: "https://nourish.jacobflores.dev/",
    repo: "https://github.com/GerardoPrz/WaffleHacks-FoodInsecurity",
    design: "https://www.figma.com/file/rMtbBlgfmWpBIcp2x4LduD/Food-Insecurity",
    image: nourishImg,
    skills: [
      "Leadership",
      "Next.js",
      "Tailwind CSS",
      "Frontend",
      "Firebase",
      "OpenAI API",
    ],
  },
]

const getProjectLinks = ({
  link,
  repo,
  design,
  links = [],
}: Project): ProjectLink[] => {
  return [
    {
      icon: Web,
      href: link,
      text: "Project",
    },
    {
      icon: Figma,
      href: design,
      text: "Design",
    },
    {
      icon: GitHub,
      href: repo,
      text: "Code",
    },
    ...links,
  ]
}
---

<FullScreenSection id="projects" class="max-w-7xl">
  <SectionTitle class="text-center">Projects</SectionTitle>

  <div class="flex flex-col gap-12">
    {
      PROJECTS.map((project) => {
        const { name, description, logo, link, image, skills } = project
        return (
          <article class="flex w-full flex-col gap-4 rounded-xl border-blue-500 from-transparent via-blue-700/10 via-40% to-blue-700/30 duration-200 hover:border-blue-300 md:gap-8 md:border-4 md:bg-gradient-to-tr md:p-4 md:transition-all md:hover:scale-[1.02] lg:grid lg:grid-cols-2 lg:p-8">
            <section class="flex flex-col gap-4">
              <header>
                <div class="flex items-center gap-2">
                  {logo && (
                    <Image
                      class="mb-2 h-16 w-fit rounded-lg object-contain object-top contrast-200"
                      src={logo}
                      alt={`${name} Logo`}
                      quality={100}
                    />
                  )}
                  <h3 class="mb-2 text-4xl font-semibold">{name}</h3>
                </div>
                <div class="flex flex-col gap-2 text-lg text-slate-400 [text-wrap:balance]">
                  {description.map((text) => (
                    <p>{text}</p>
                  ))}
                </div>
              </header>
              <div class="flex flex-wrap gap-x-6 gap-y-1">
                {getProjectLinks(project).map(
                  ({ icon: Icon, href, text }) =>
                    href && (
                      <LinkWithIcon href={href}>
                        <Icon /> {text}
                      </LinkWithIcon>
                    ),
                )}
              </div>
              <List>
                {skills.map((skills) => (
                  <Badge size="sm" variant="secondary">
                    {skills}
                  </Badge>
                ))}
              </List>
            </section>
            <Link href={link}>
              <Image
                class="h-full w-full rounded-lg object-cover object-top"
                src={image}
                alt={`${name} Preview`}
              />
            </Link>
          </article>
        )
      })
    }
  </div>
</FullScreenSection>
