---
import { Image } from "astro:assets"
import ecotideImg from "@/assets/images/projects/ecotide.png"
import Figma from "@/icons/Figma.astro"
import FullScreenSection from "@/components/FullScreenSection.astro"
import GitHub from "@/icons/GitHub.astro"
import Link from "@/components/Link.astro"
import nourishImg from "@/assets/images/projects/nourish.png"
import SectionTitle from "@/components/SectionTitle.astro"
import Web from "@/icons/Web.astro"

const PROJECTS = [
  {
    name: "Ecotide",
    description:
      "A web platform where you can explore detailed information about the ocean, phytoplankton species, and the difference between ocean gardens and land gardens, featuring visually stunning imagery for viewers and immersive ocean sounds.",
    link: "https://nasa-space-apps.vercel.app/",
    repo: "https://github.com/alancasre133/Nasaoceangarden",
    design:
      "https://www.figma.com/file/lJEAo2G5GX0BAvf6KCCiyw/Ocean-Garden?type=design&node-id=0%3A1&mode=design&t=cuR1el7ELUlnsuQa-1",
    image: ecotideImg,
    tech: ["Next.js", "Tailwind CSS", "TypeScript", "<model-viewer>"],
  },
  {
    name: "Nourish",
    description:
      "A mobile-first web application designed to tackle food insecurity by offering personalized menus and recipes tailored to students' nutritional needs.",
    link: "https://nourish.jacobflores.dev/",
    repo: "https://github.com/GerardoPrz/WaffleHacks-FoodInsecurity",
    design: "https://www.figma.com/file/rMtbBlgfmWpBIcp2x4LduD/Food-Insecurity",
    image: nourishImg,
    tech: ["Next.js", "Tailwind CSS", "Firebase", "OpenAI API"],
  },
]
---

<FullScreenSection id="projects" class="flex flex-col gap-20 max-w-5xl">
  <SectionTitle class="text-center">Projects</SectionTitle>

  <div class="flex flex-col gap-16">
    {
      PROJECTS.map(({ name, description, link, design, repo, image, tech }) => {
        // style="background: conic-gradient(from 180deg at 50% 50%, #1A1A1A 129.19544219970703deg, rgba(26, 26, 26, 0.00) 306.6383099555969deg)"
        return (
          <article class="w-full flex flex-col md:grid md:grid-cols-2 gap-4 md:gap-8 rounded-xl">
            <Link href={link} target="_blank" class="order-1 md:order-0">
              <Image
                class="rounded-lg h-full w-full object-cover object-top "
                src={image}
                alt={`${name} Preview`}
              />
            </Link>
            <div class="order-0 md:order-1 flex flex-col gap-4">
              <header>
                <h3 class="text-xl font-semibold">{name}</h3>
                <p class="text-gray-500">{description}</p>
              </header>
              <div class="flex flex-wrap gap-x-6">
                <Link
                  href={link}
                  target="_blank"
                  class="flex text-sm h-5 gap-2 justify-items-center"
                >
                  <Web /> Project
                </Link>
                <Link
                  href={design}
                  target="_blank"
                  class="flex text-sm h-5 gap-2 justify-items-center"
                >
                  <Figma /> Design
                </Link>
                <Link
                  href={repo}
                  target="_blank"
                  class="flex text-sm h-5 gap-2 justify-items-center"
                >
                  <GitHub /> Code
                </Link>
              </div>
              <div class="flex flex-wrap gap-x-2 gap-1">
                {tech.map((tech) => (
                  <span class="text-sm text-blue-100 rounded-full bg-blue-950 py-1 px-3 font-medium">
                    {tech}
                  </span>
                ))}
              </div>
            </div>
          </article>
        )
      })
    }
  </div>
</FullScreenSection>
