---
import { Image, getImage } from "astro:assets"
import Layout from "@/layouts/Layout.astro"
import Link from "@/components/Link.astro"
import studevsTalk from "@/assets/images/studevs-talk.png"
import SocialMedia from "@/components/SocialMedia.astro"
import Container from "@/components/Container.astro"
import FullScreenSection from "@/components/FullScreenSection.astro"

const ME = {
  name: "Jacob Flores",
  role: "Frontend Developer",
  company: {
    name: "",
    web: "",
  },
}

const GRADIENTS = {
  original:
    "linear-gradient(180deg, rgba(0, 0, 0, 0.38) 0%, rgba(11, 7, 24, 0.77) 45.83%, rgba(11, 7, 25, 0.82) 58.85%, #0b0b0b 80.73%)",
  reversed:
    "linear-gradient(180deg, #0b0b0b 0%, rgba(11, 7, 25, 0.82) 19.27%, rgba(11, 7, 24, 0.77) 41.15%, #0b0b0b 100%)",
}
---

<Layout>
  <FullScreenSection
    gradient={GRADIENTS.original}
    backgroundImage={studevsTalk}
    class="items-center"
  >
    <Container
      class="flex flex-col gap-4 md:gap-12 justify-center md:items-center h-full max-w-3xl"
    >
      <div class="flex flex-col gap-8 text-lg md:items-center">
        <header class="w-full mx-auto flex md:items-center flex-col">
          <h1 class="text-7xl font-black text-blue-400">Jacob Flores</h1>
          <p class="text-2xl w-fit">
            <strong>{ME.role}</strong>
            {
              ME.company?.name && (
                <>
                  at
                  <Link href={ME.company.web} target="_blank">
                    <strong> {ME.company.name}</strong>
                  </Link>
                </>
              )
            }
          </p>
        </header>
      </div>
      <!-- <Image
        src={studevsTalk}
        alt="Delivering a presentation at the Engineering Faculty Auditorium, Autonomum University of San Luis Potosí."
        quality="max"
        class="aspect-video object-cover h-full rounded-xl object-left-bottom brightness-110"
      /> -->
      <SocialMedia />
    </Container>
  </FullScreenSection>

  <FullScreenSection gradient={GRADIENTS.reversed} class="items-center">
    <Container class="flex flex-col gap-4 sticky bottom-0 py-16">
      <h1 class="text-6xl font-black text-blue-300">About Me</h1>
      <p>
        Hi there! I'm Jacob and
        <strong> I'm passionate about web development and technology</strong>.
      </p>
      <p>
        I love being part of a community, sharing my knowledge, and learning
        from others. Lately, I've participated in <strong>hackathons</strong>
         and <strong> given talks to my university peers</strong>, being part
        of a community known as
        <Link href="https://www.linkedin.com/company/studevs" target="_blank">
          <strong>Studevs</strong>
        </Link>.
      </p>
    </Container>
  </FullScreenSection>

  <style>
    /* Main swction should have a background image with shadow */
    /* h1 {
      background: var(
        --secondary-gradient,
        linear-gradient(180deg, #f6edaf 0%, #e5c600 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    } */

    /* .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    } */
  </style>
</Layout>
