---
import "@fontsource-variable/inter"
import "../assets/main.css"
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"
import socialImageUrl from "@/assets/images/og-preview.png"

type Props = {
  title?: string
}

const { title } = Astro.props

const DESCRIPTION =
  "Jacob Flores is a passionate frontend developer, dedicated to crafting engaging web experiences and innovative projects."

const DEFAULT_TITLE = "Jacob Flores"

const currentTitle = title ? `${title} | ${DEFAULT_TITLE}` : DEFAULT_TITLE

const portfolioPrefix = `${DEFAULT_TITLE} Portfolio`
const ogTitle = title ? `${portfolioPrefix} | ${title}` : portfolioPrefix

// https://docs.astro.build/en/reference/api-reference/#astrourl
// Construct a canonical URL using your production domain
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
// Construct a URL for SEO meta tags using your current domain
// const socialImageUrl = new URL("/images/og-preview.png", Astro.site)

// const squareSocialImageURL = new URL(
//   "/images/square-og-preview.png",
//   Astro.site,
// )

const TWITTER_HANDLE = "@yeiicobF"
---

<!doctype html>
<html lang="en" class="scroll-smooth focus:scroll-auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={DESCRIPTION} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{currentTitle}</title>

    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={DESCRIPTION} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageUrl.src} />

    <meta property="twitter:title" content={ogTitle} />
    <meta property="twitter:description" content={DESCRIPTION} />
    <meta property="twitter:image" content={socialImageUrl.src} />
    <meta property="twitter:site" content={TWITTER_HANDLE} />
    <meta property="twitter:creator" content={TWITTER_HANDLE} />
    <meta property="twitter:card" content="summary_large_image" />

    <!-- <script src="../lib/updateBackgroundOnMouseMove.js">
    // https://docs.astro.build/en/guides/client-side-scripts/
    </script> -->
  </head>

  <body class="min-h-screen relative">
    <Header />
    <div class="flex flex-col items-center h-full">
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #0b0b0b;
    color-scheme: dark;
    line-height: 1.5;
  }
  body {
    font-family: "Inter", sans-serif;
    /* circle at 50% 50%, */
    background: radial-gradient(
      600px at 10% 15%,
      rgba(0, 76, 255, 0.1),
      transparent 80%
    );

    /*
    https://www.magicpattern.design/tools/css-backgrounds

    background-color: #000000;
    opacity: 0.9;
    background-color: #0b0b0b;
    opacity: 1;
    background-image: radial-gradient(
        rgba(46, 89, 190, 0.25) 0.65px,
        transparent 0.65px
      ),
      radial-gradient(rgba(46, 89, 190, 0.25) 0.65px, #0b0b0b 0.65px);
    background-size: 26px 26px;
    background-position:
      0 0,
      13px 13px;
       */

    /* animation: wave 1s infinite alternate; */
  }
  /* @keyframes wave {
    0% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  } */
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
